.input
{
    padding: 1.5rem;
    border-radius: 66px;
    border: 1px solid #EDEDED;
    background: #FFF;
    outline: none;
    margin-bottom: 1.5rem;

    &:disabled
    {
        opacity: .5;
    }
}

.fullWidth
{
    width: 100%;
}