.block
{
    position: relative;
    overflow: hidden;
}

.bgLayer
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120%;
}

.container
{
    position: relative;
    max-width: 1270px;
    margin: 40px auto;
    padding: 16px;
}

.heading
{
    margin-bottom: 36px;
}

.cards
{
    position: relative;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));

    @media (max-width: 768px) {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));        
    }
}

.card
{
    &Inner
    {
        padding: 1rem 1rem 1rem;
        text-align: center;
    }

    &Image
    {
        display: block;
        width: 100%;
        margin-bottom: 1rem;
        border-radius: 1rem;
    }

    &Name, &Position
    {
        color: #333372;
    }

    &Name
    {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }

    &Position
    {
        font-size: 1rem;
        font-weight: 500;
        opacity: .6;
    }

    &Hr
    {
        background: rgba(51, 51, 114, 0.10);
        height: 1px;
        margin: 0.8rem;
    }

    &Content
    {
        color: rgba(51, 51, 114, 0.75);
    }
}