.item
{
    margin-bottom: 16px;

    &Top
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
    }

    &Title
    {
        display: block;
        color: #333372;
        font-size: 20px;
        font-weight: 500;
    }

    &ButtonClose
    {
        user-select: none;
        min-width: 48px;
        height: 48px;
        justify-content: center;
        align-items: center;
        border-radius: 24px;
        background: linear-gradient(0deg, #E983AA 0%, #E983AA 100%), #000;
        display: flex;
        box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.20), 0px 4px 9px 0px rgba(255, 255, 255, 0.25) inset;
        cursor: pointer;

        @media (max-width: 1270px) {
            height: 32px;
            min-width: 32px;
        }

        &Disabled
        {
            transform: rotate(45deg);
        }
    }

    &IconClose
    {
        height: 14px;

        @media (max-width: 1270px) {
            height: 10px;
        }
    }

    &Content
    {
        padding-top: 0 ;
    }
}
